* {
  box-sizing: border-box;
}

.a429 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--Claro-Frente-01, #fcfcfc);
  padding: 15px;
  width: 340px;
  height: 1279px;

  .outubro2025 {
    flex-shrink: 0;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Claro-Textos-01, #3a3f51);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .autoWrapper {
    position: relative;
    flex-shrink: 0;
    width: 35px;
    height: 37px;

    .a012 {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 35px;
      height: 37px;
      rotate: -180deg;
    }
  }

  .a01 {
    display: flex;
    align-items: center;
    column-gap: 13px;
    width: 310px;

    .cartODeCrDito {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 259px;
      height: 24px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }

    .a02 {
      flex-shrink: 0;
      border-radius: 8px;
      width: 38px;
      height: 38px;
    }
  }

  .a026 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 20px;

    .a {
      width: 310px;
      height: 10px;
    }

    .a014 {
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 310px;

      .a013 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 10px;

        .criarSenha {
          display: flex;
          flex-grow: 1;
          align-items: center;
          width: 225px;
          height: 30px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .autoWrapper2 {
        position: relative;
        flex-shrink: 0;
        width: 40px;
        height: 37px;

        .a022 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          padding-right: 4px;
          padding-left: 4px;
          width: 40px;
          height: 37px;
          rotate: -180deg;

          .a2 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Claro-Primaria-01, #1777cf);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
            rotate: 180deg;
          }
        }
      }
    }

    .a3 {
      width: 310px;
      height: 20px;
    }

    .a024 {
      display: flex;
      align-items: center;
      column-gap: 5px;
      width: 310px;

      .a015 {
        flex-shrink: 0;
        border-radius: 4px;
        width: 40px;
        height: 35px;
      }

      .a023 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        padding-right: 19px;
        padding-left: 19px;
      }

      .autoWrapper3 {
        position: relative;
        flex-shrink: 0;
        width: 40px;
        height: 35px;

        .a03 {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4px;
          width: 40px;
          height: 35px;
          rotate: -180deg;
        }
      }
    }

    .a032 {
      display: flex;
      align-items: flex-start;
      column-gap: 4px;
      margin-top: 10px;
      width: 310px;

      .a016 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        opacity: 0.4;
        border-radius: 4px;
        width: 41px;
      }
    }

    .a04 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      height: 232px;
      row-gap: 4px;

      .a018 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
        border-radius: 4px;
        background: var(--Claro-Frente-01, #fcfcfc);

        .a017 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          width: 41px;
          height: 35px;
          letter-spacing: 0;
          color: var(--Claro-Textos-01, #3a3f51);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .a26 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        opacity: 0.4;
        border-radius: 4px;
        padding: 8px;
        row-gap: 8px;

        .number {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          width: 25px;
          height: 19px;
          letter-spacing: 0;
          color: var(--Claro-Textos-02, #7d8592);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .a019 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 4px;
      }

      .a025 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 4px;
      }

      .a033 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 4px;

        .a132 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
          border-radius: 4px;
          background: var(--Claro-Primaria-01, #1777cf);

          .a13 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            width: 41px;
            height: 35px;
            letter-spacing: 0;
            color: var(--Claro-Frente-01, #fcfcfc);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .a06 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 4px;
      }
    }
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
    border: 1px solid #d8e0f0;
    border-radius: 4px;
    background: var(--Claro-Frente-01, #fcfcfc);
    padding: 4px 9px;
    width: 310px;
    height: 35px;

    .placeholder {
      display: -webkit-box;
      flex-grow: 1;
      overflow: hidden;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .a4 {
    width: 310px;
    height: 35px;
  }

  .a0110 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 310px;

    .criarSenha2 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;
      width: 265px;
      height: 37px;
      letter-spacing: 0;
      color: var(--Claro-Textos-01, #3a3f51);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .a034 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;
    row-gap: 15px;

    .a0112 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;

      .a0111 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .nome {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Claro-Textos-01, #3a3f51);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .nome2 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Textos-03, #91929e);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .a5 {
      flex-shrink: 0;
      align-self: stretch;
      width: 310px;
      height: 2px;
    }
  }

  .a042 {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    margin-top: 30px;
    width: 310px;

    .a0113 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 6px;
      background: var(--Claro-Fundo-01, #f4f4f4);
      padding: 14px 9px;
      width: 149px;
      height: 40px;
    }

    .a027 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid var(--Claro-Bordas-01, #d8e0f0);
      border-radius: 6px;
      background: var(--Claro-Primaria-01, #1777cf);
      padding: 14px 9px;
      width: 147px;
      height: 40px;

      .salvar {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Claro-Frente-01, #fcfcfc);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
